.photos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 15px;
}

.photos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.photos div {
    text-align: center;
    width: 45%;
    margin: 10px;
}
.img-profile{
    object-fit: cover;
}
.img {
    width: 325px;
    height: 250px;
}



