<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gym Website</title>
    <link rel="stylesheet" href="css/location.css" />

    <style></style>
  </head>
  <body>
    <header>
      <h1>Olympiad Gym</h1>
      <p>One Day or Day One. You Decide</p>
    </header>

    <nav>
      <a href="/">Home</a>
      <a href="/about">About us</a>
      <a href="/location">Locaction</a>
      <a href="/contact">Contact</a>
      {% if isLoggdin == false %}
      <a href="/login-form">Log in</a>
      {% elseif isLoggdin == true %}
      <a href="/logout">Log Out</a>
      {% if role == "1" %}
      <a href="/admin">Admin</a>
      {% endif %} {% endif %}
    </nav>

    <div class="contact-iframe">
      <div class="iframe-contact">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2996.8380555579092!2d19.43987917576014!3d41.3123
        86500644486!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x134fda4e99676385%3A0xcd0b63b981639a33!2sOlympia%20\
        Gym%20Durr%C3%ABs!5e0!3m2!1sen!2s!4v1701769869573!5m2!1sen!2s"
          width="100%"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        >
        </iframe>
      </div>
    </div>

    <footer>
      <p>&copy; 2023 Our Gym. All rights reserved.</p>
    </footer>
  </body>
</html>
